ul.wp-block-lohko-simple-menu {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;

	.sub-menu {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&.vertical .sub-menu {
		margin-left: 6px;
	}

	&.horizontal {
		flex-direction: row;
	}
}
