<nav id="jcore-nav" {{ wrapper_attributes }}>
  {% block navbar %}
    {% block logo %}
      <div class="brand">
        {% include '@lohko/navbar-brand.twig' %}
      </div>
    {% endblock %}
    {% block menu %}
      {% include '@lohko/navigation/partial/menu.twig' with {
        items: menu.primary.get_items,
        id: 'jcore-menu',
        level: 0
      } only %}
    {% endblock %}
    {% block search %}
      <button
        id="searchbar-toggle"
        class="toggle-search mr-4 mr-lg-0"
        data-jtoggle="#menu-searchbar"
      >
        <i class="fas fa-search"></i>
      </button>
    {% endblock %}
    <button
      class="hamburger"
      data-jtoggle="#jcore-menu"
      data-class="mobile-open"
    >
      {% include '@lohko/navigation/partial/hamburger.twig' %}
    </button>
  {% endblock %}
</nav>
