.wp-block-lohko-footer {
	display: grid;
	gap: 1rem;
	grid-template-areas:
		"left"
		"middle"
		"right"
		"bottom"
		"copyright";

	@media (min-width: 782px) {
		grid-template-areas:
			"left middle right"
			"copyright bottom bottom";
	}

	.lohko-footer__left {
		grid-area: left;
	}

	.lohko-footer__middle {
		grid-area: middle;
	}

	.lohko-footer__right {
		grid-area: right;
	}

	.lohko-footer__bottom {
		grid-area: bottom;
	}

	.lohko-footer__copyright {
		grid-area: copyright;
	}

	.menu,
	.menu .sub-menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
