#jcore-footer {
	#jcore-container {
		display: grid;
		grid-template-areas:
			"left middle right"
			"copyright copyright copyright";
	}
	#footer-left {
		grid-area: "left";
	}
	#footer-middle {
		grid-area: "middle";
	}
	#footer-right {
		grid-area: "right";
	}
	#footer-copyright {
		grid-area: "copyright";
	}
}
